* {
    text-decoration: none;   
 }
body {
  background-color: #191970;
  margin: 0;
}

.navbar {
  background: #CCBB42;
  font-family: 'JetBrains Mono', monospace;
  padding-right: 15px;
  padding-left: 15px;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navdiv button {
  display: flex;
  width: 100px;
  height: 35px;
  background-color: gold;
  margin-right: 30px;
  border-radius: 10px;
  font-family: Hack, hack, monospace;
  font-size: 22px;
}

.navdiv button:hover {
  background-color: brown;
  font-family: Hack, hack, monospace;
  color: black;
}

li {
  list-style: none;
  display: inline-block;
}

li a {
  color: #644117;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}

h1 {
  text-align: center;
  color: #CCBB42;
  font-family: Hack, hack, monospace;
  font-size: 40px;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202060;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  width: 200px;
}

.book-card img {
  max-height: 250px;
  object-fit: cover;
  margin-bottom: 20px;
}

.book-title {
  color: #CCBB42;
  font-family: Hack, hack, monospace;
  font-size: 20px;
  text-align: center;
  height: 60px;
  margin-top: 10px;
  padding-bottom: 20px;
}

.info-button {
  margin-top: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: Hack, hack, monospace;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: brown;
  background-color: #CCBB42;
  border-style: solid;
  border-width: 2px;
  border-radius: 40px;
  border-color: black;
  padding: 16px 28px;
  transition: 0.2s;
  box-shadow: -4px -2px, 16px 0px #ffffff, 4px 2px 16px 0px rgb(95, 157, 231 / 48%);
}


button:hover {
  color: #516d91;
  background-color: orange;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95, 157, 231 / 48%);
}


button:active {
  box-shadow: none;
}

h3 {
 color: #CCBB42; 
 font-family: Hack, hack, monospace;
}
